body{
    background-image: url(COURSES/Photos/1330139.png);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-variant: small-caps;
}
h2{
    text-align: center;
    color: rgb(22, 2, 54);
}
h2:hover{
    color: aliceblue;
}
div{
    text-align: center;
    margin: 4px;
}
.ims{
clip-path: circle(39.0% at 50% 50%);
}
p{
    text-align: center;
    color: rgb(22, 2, 54);
}
p:hover{
    color: antiquewhite;
}
.input:hover{
    text-align: center;
    color:rgb(4, 4, 61);
}
.fit{
    margin: 70px;
}
.song{
    width: 30px;
    height: 30px;
    display: hidden;
}